.player{
    display: flex;
    width: 100%;
}
.player-div{
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 5px solid peru;
    grid-gap: 5px;
    margin-left: 50px;
    margin-bottom: 30px;
    text-align: center;
}
.cart{
    width: 300px;
    border: 2px solid black;
}
.cart-length{
    text-align: center;
}
.card-details{
    border: 1px solid peru
}