h4{
    color: goldenrod;
}
.player-name{
    margin-top: 20px;
    border-bottom: 2px solid black;
}
.player-salary{
    margin-top: 20px;
    border-bottom: 2px solid black;
}
.total-budget{
    margin:20px;
    color: darkgoldenrod;
}
